.about-section {
  margin-top: 50px;
}

#me {
  width: 100%;
}

#hello {
  position: relative;
  font-size: 144px;
  color: #FFD57F;
  margin-left: -120px;
  top: 60px;
}

.about-text-container {
  position: relative;
  top: 60px;
  font-size: 24px;
}

.about-links {
  position: relative;
  top: 60px;
  font-size: 18px;
  justify-content: flex-start;
}

.about-links a {
  margin-left: 0;
  margin-right: 50px;
  color: #FFD57F;
  font-size: 18px;
  font-weight: 800;
}

@media (max-width: 1200px) and (min-width: 1022px) {
  #hello {
    top: 0;
  }

  .about-text-container {
    top: 0;
    margin-top: -30px;
  }

  .about-links {
    top: 0;
  }
}

@media (max-width: 1022px) and (min-width: 770px) {
  #hello {
    margin-left: -85px;
    font-size: 100px;
    top: 0;
  }

  .about-text-container {
    top: 0;
    font-size: 20px;
    margin-top: -20px;
  }

  .about-links {
    top: 0;
    margin-top: -20px;
  }
}

@media (max-width: 770px) {
  #hello {
    margin-left: 0;
    font-size: 60px;
    top: 0;
  }

  .me-container {
    display: none;
  }

  .about-text-container {
    top: 0;
    font-size: 20px;
  }

  .about-links {
    top: 0;
  }
}
