.about-section {
  margin-top: 50px;
}

#me {
  width: 100%;
}

#hello {
  position: relative;
  font-size: 144px;
  color: #FFD57F;
  margin-left: -120px;
  top: 60px;
}

.about-text-container {
  position: relative;
  top: 60px;
  font-size: 24px;
}

.about-links {
  position: relative;
  top: 60px;
  font-size: 18px;
  justify-content: flex-start;
}

.about-links a {
  margin-left: 0;
  margin-right: 50px;
  color: #FFD57F;
  font-weight: 800;
}
