
.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
	position: relative;
	display: inline-block;
  color: #2C2C2C;
	margin: 15px 25px;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 18px;
  padding: 8px 0;
  background-image: linear-gradient(to right, #FFD57F 50%, #FFD57F 50%);
  background-position-x: center;
  background-position-y: 18px;
  background-repeat: no-repeat;
  background-size: 200% 8px
}

.nav a:hover,
.nav a:focus {
  transition: all 0.1s ease-out;
	background-position-y: 24px;
}

@media (max-width: 600px) {
  .nav a {
  	font-size: 12px;
    margin: 15px 5px;
  }

  .nav a:hover,
  .nav a:focus {
    transition: all 0.1s ease-out;
  	background-position-y: 12px;
  }
}
