.side-projects-section {
  margin-top: 100px;
}

.side-projects-section h3 {
  font-size: 36px;
  color: #FFD57F;
}

.project-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.project-links {
  align-items: center;
  margin-left: 25px;
}

.project-links a {
  color: #FFD57F;
  font-weight: 700;
  margin: 15px 25px;
}

.project-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .project-links {
    justify-content: center;
    margin-left: 0;
  }

  .project-links a {
    font-size: 18px;
  }

  .project-divider {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
