.title-section {
  margin-top: 50px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg circle {
  fill: #FFD57F;
}

#nick-bond {
  font-size: 100px;
  font-weight: 700;
  z-index: 100;
  display: inline;
  white-space: nowrap;
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

#circle1 {
  animation: from0to360 1s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 145px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#circle2 {
  animation: from360to0 2s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 155px 150px;
}

#circle3 {
  animation: from0to360 3s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 150px 145px;
}

#circle4 {
  animation: from360to0 2.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  transform-origin: 150px 155px;
}

@media (max-width: 600px) and (min-width: 510px) {
  #nick-bond {
    background-image: linear-gradient(to right, #FFD57F 50%, #FFD57F 50%);
    background-position-x: center;
    background-position-y: 60px;
    background-repeat: no-repeat;
    background-size: 200% 36px;
  }

  #title-background {
    display: none;
  }

  .title-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 510px) {
  #nick-bond {
    font-size: 60px;
    background-image: linear-gradient(to right, #FFD57F 50%, #FFD57F 50%);
    background-position-x: center;
    background-position-y: 35px;
    background-repeat: no-repeat;
    background-size: 200% 24px;
  }

  #title-background {
    display: none;
  }
}
